@font-face {

  font-family: fanwood;
  src: url("fanwood.ttf");
}

body {
  background-color: #333928;
  color: #afd24c;
}

p {
  font-family: fanwood;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input {
  font-family: courier;
  font-size: 20px;
  margin-top: 29px;
  margin-bottom: 2px;
  background-color: #333928;
  color: #afd24c;
  border: 2px solid #afd24c;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 4px;
}

button {
  background-color:#333928;
  border:1px solid #afd24c;
  display:inline-block;
  color:#afd24c;
  font-family: courier;
  font-size:22px;
  font-weight:bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
  margin-top: 30px;
  text-decoration:none;
}

button:hover {
  background-color:#afd24c;
	border:1px solid #afd24c;
  color:#333928;
}

button:active {
  position:relative;
	top:1px;
}

#stage {
  display: block;
  width: 700px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #23281c;
}

#image {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333928;
}

#menuBar {
  width: 640px;
  height: 85px;
}

#compass {
  margin-top: 22px;
}

#mapImage {
  margin-top: 12px;
}

.bar {
  float: left;
  margin-left: 50px;
}
